@import url(https://fonts.googleapis.com/css?family=Muli);

#about-us{
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.about-us-wrapper{
  width: 80%;
  height:100vh;
  margin: auto;
}

#about-us h1{
    font-weight: 800 bolder;
    text-transform:capitalize;
    color: #3a3a3a;
    font-size: 2.188em;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}

#about-us h2{
    font-weight: 700 bolder;
    color: #62dd7c;
    font-size: 1.563em;
    margin-top: 0.313em;
    margin-bottom: 0.313em;
}

#about-us div{
    text-align: center;
}

#about-us p{
    font-weight: 300;
    color: #3a3a3a;
    font-size: 1em;
    padding-left:3.125em;
    padding-right:3.125em;
    text-align:center;
}

.about-us-icons{
    height:7em;
    text-align:center;
    margin-top:1.25em;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #about-us h1{
        font-weight: 800 bolder;
        text-transform:capitalize;
        color: #3a3a3a;
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    #about-us h2{
        font-weight: 700 bolder;
        color: #62dd7c;
        font-size: 1.125em;
        margin-top: 0.313em;
        margin-bottom: 0.313em;
    }

    #about-us p{
        font-weight: 300;
        color: #3a3a3a;
        font-size: 0.875em;
        padding-left:0.313em;
        padding-right:0.313em;
        text-align:center;
    }

    .about-us-icons{
        min-height:3.125em;
        min-width:3.125em;
        text-align:center;
        margin-top:0.625em;
    }
}