@import url(https://fonts.googleapis.com/css?family=Muli);

#core-product{
    width:100%;
    font-family: 'Muli', sans-serif;
    margin-bottom: 3.125em;
    text-align:center;
}

.core-product-wrapper{
  width: 80%;
  margin: auto;
}

#core-product h1{
    font-weight: 800 bolder;
    color: #3a3a3a;
    font-size: 2.188em;
    margin-top: 3.125em;
}

#core-product p{
    font-weight: 300;
    color: #3a3a3a;
    font-size: 1.25em;
    padding-left:3.125em;
    text-align:justify;
    margin-top:1.25em;
}

.core-product-brand{
    height: 100%;
    text-align: center;
    height: 100%;
    position: relative;
    vertical-align:middle;
}

.vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-align {
    grid-row: 2;
    align-content: center;
}

.vertical-align--middle {
    vertical-align: middle;
     grid-row: 2;
    align-content: center;
}

#core-product a img{
    margin-top:1.25em;
    width: 15em;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #core-product h1{
        font-weight: 800 bolder;
        color: #3a3a3a;
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    #core-product p{
        font-weight: 300;
        color: #3a3a3a;
        font-size: 0.875em;
        padding-left:0.313em;
        padding-right:0.313em;
        text-align:justify;
    }

    .core-product-brand{
        background-color:aliceblue;
        text-align:center;
        margin-top:0.625em;
    }
}