@import url(https://fonts.googleapis.com/css?family=Roboto);

footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#ffffff;
    text-align:center;
    font-size:14px;
    background-color: #62dd7c;
    width: 100%;
    padding-top: 20px;
    padding-bottom:10px;
}

footer a{
    text-decoration:none;
    color:white;
}

footer div:hover{
    text-align:center;
    font-weight: bold;
    transition: all 1s;
}

footer div:hover img{
    content: url('../images/emailhover.png');
    height:2em;
    transition: all 1s;
}

footer p{
    font-weight: 300;
    margin-top: 0px;
    text-transform: capitalize;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px){


}