@import url(https://fonts.googleapis.com/css?family=Roboto);

header{
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    width:100%;
    height: 50px;
    border-bottom: #ffffff 3px solid;
    font-size: 16px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
}

.header-wrapper{
    width: 80%;
    height: 50px;
    margin: auto;
    overflow: hidden;
    /*position: fixed;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*BRANDING --- General*/
/*---START---*/

header .logo{
    float: left;
    height: 45px;
    padding: 15px 10px;
    font-weight:bold;
    font-size: 16px;
    line-height: 20px;
}

a img{
    height:1.75em;
}

.navbar-default{
     transition:500ms ease;
     background:transparent;
    background-color: #ffffff;
    border: 0!important;
 }

.navbar-default.scrolled{
    box-shadow: 0px 10px 55px -16px rgba(59,59,59,0.66);
    background-color: rgba(255,255,255,0.9);
}
/*---END---*/
/*BRANDING --- General*/

/*NAV --- General*/
/*---START---*/

header a{
  color: #969696;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: right;
  margin-top: 20px;
}

header .highlight, header .current a{
  color: #62dd7c;
  font-weight: bold;
}

header a:hover{
  color: #484848;
  font-weight: bold;
}

header a:active, .active{
  color: #484848;
  font-weight: bold;
}

header a:active::before, .active::before{
    color:#62dd7c;
    font-weight:bolder;
    content:"[ ";
}

header a:active::after, .active::after{
    color:#62dd7c;
    font-weight:bolder;
    content:" ]";
}



/*---END---*/
/*NAV --- General*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*.navbar {*/
    /*border-radius: 0;*/
    /*border: none;*/
    /*margin-bottom: 0;*/
    /*min-height: 80px;*/
    /*font-size: 0.65em;*/
    /*float: right;*/
    /*position: relative;*/
    /*top: -0.75em;*/
/*}*/

/*.nav li {*/
    /*display: inline;*/
    /*color: white;*/
/*}*/

 /*.navbar-nav > li > a {*/
    /*color: #ffffff;*/
    /*font-size: 1.7em;*/
    /*font-weight: 300;*/
    /*padding: 30px 25px 33px 25px;*/
/*}*/

/*.navbar-nav li a:hover {*/
    /*transition: 0.7s all linear;*/
    /*height: 100%;*/
    /*background: #000;*/
/*}*/

/*.container navbar-collapse collapse in{*/
    /*margin-left: auto;*/
    /*background: rgba(0,0,0,0.8);*/
    /*height: 100vh;*/
/*}*/

@media (max-width: 768px){

    header{
        padding-bottom: 20px;
    }

    /*BRANDING --- Small Devices*/
    /*---START---*/

    header .logo{
        float: left;
        height: 2em;
        padding: 5px 5px;
        font-weight:bold;
        font-size: 12px;
        line-height: 14px;
    }

    a img{
        height:1em;
    }

    /*---END---*/
    /*BRANDING --- Small Devices*/

    /*NAV --- General*/
    /*---START---*/

    header nav, header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    /*---END---*/
    /*NAV --- General*/

}