@import url(https://fonts.googleapis.com/css?family=Roboto);

header{
    font-family: 'Muli', sans-serif;
    text-transform:capitalize;
    background: #ffffff;
    width:100%;
    height: 3.125em;
    border-bottom: #ffffff 0.188em solid;
    font-size: 1em;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    box-shadow: 0em 10px 55px -16px rgba(59,59,59,0.66);
}

.header-wrapper{
    width: 80%;
    height: 3.125em;
    margin: auto;
    overflow: hidden;
    /*position: fixed;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*BRANDING --- General*/
/*---START---*/

header .logo{
    float: left;
    height: 2.8125em;
    padding: 0.9375em 0.625em;
    font-weight:bold;
    font-size: 1em;
    line-height: 1.25em;
}

header .logo a img{
    height:1.75em;
}

/*---END---*/
/*BRANDING --- General*/

/*NAV --- General*/
/*---START---*/

header a{
    color: #969696;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

header li{
    float: left;
    display: inline;
    padding: 0 1.25em 0 1.25em;
}

header nav{
    float: right;
    margin-top: 1.25em;
}

header .highlight, header .current a{
    color: #42a159;
    font-weight: bold;
}

header a:hover{
    color: #3a3a3a;
    font-weight: bold;
    transition: all 1s;
}

header a:active{
    color: #3a3a3a;
    font-weight: bold;
    transition: all 1s;
}

header a:active::before{
    color:#62dd7c;
    font-weight:bolder;
    content:"[ ";
    transition: all 0.5s;
}

header a:active::after{
    color:#62dd7c;
    font-weight:bolder;
    content:" ]";
    transition: all 0.5s;
}

header .logo a:active::before{
    font-weight:bolder;
    content:none;
    transition: all 0.5s;
}

header .logo a:active::after{
    font-weight:bolder;
    content:none;
    transition: all 0.5s;
}


/*---END---*/
/*NAV --- General*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    header{
        padding-bottom: 1.25em;
    }

    /*BRANDING --- Small Devices*/
    /*---START---*/

    header .logo{
        float: left;
        height: 2.1875em;
        padding: 0.3125em 0.3125em;
        font-weight:bold;
        font-size: 0.75em;
        line-height: 0.875em;
    }

    a img{
        height:1.5625em;
    }

    /*---END---*/
    /*BRANDING --- Small Devices*/

    /*NAV --- General*/
    /*---START---*/

    header nav, header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    /*---END---*/
    /*NAV --- General*/
}