@import url(https://fonts.googleapis.com/css?family=Roboto);

header{
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    height: 50px;
    border-bottom: #ffffff 3px solid;
    font-size: 16px;
    /*position: fixed;*/
}

.header-wrapper{
    width: 80%;
    height: 50px;
    margin: auto;
    overflow: hidden;
    /*position: fixed;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*BRANDING --- General*/
/*---START---*/

header .logo{
    float: left;
    height: 45px;
    padding: 10px 10px;
    font-weight:bold;
    font-size: 16px;
    line-height: 20px;
}

a img{
    height:40px;
}

/*---END---*/
/*BRANDING --- General*/

/*NAV --- General*/
/*---START---*/

header a{
  color: #969696;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: right;
  margin-top: 20px;
}

header .highlight, header .current a{
  color: #42a159;
  font-weight: bold;
}

header a:hover{
  color: #484848;
  font-weight: bold;
}

/*---END---*/
/*NAV --- General*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px){

    header{
        padding-bottom: 20px;
    }

    /*BRANDING --- Small Devices*/
    /*---START---*/

    header .logo{
        float: left;
        height: 35px;
        padding: 5px 5px;
        font-weight:bold;
        font-size: 12px;
        line-height: 14px;
    }

    a img{
        height:25px;
    }

    /*---END---*/
    /*BRANDING --- Small Devices*/

    /*NAV --- General*/
    /*---START---*/

    header nav, header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    /*---END---*/
    /*NAV --- General*/

}