@import url(https://fonts.googleapis.com/css?family=Muli);

#partners{
    font-family: 'Muli', sans-serif;
    margin-bottom: 3.125em;
    text-align:center;
}

.partners-wrapper{
  width: 80%;
  margin: auto;
}

#partners h1{
    font-weight: 800 bolder;
    text-transform:capitalize;
    color: #3a3a3a;
    font-size: 2.188em;
    margin-top: 0.313em;
}

.partners-logo{
    height:10em;
    text-align:center;
    margin-top:1.25em;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #partners h1{
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }
}