@import url(https://fonts.googleapis.com/css?family=Muli);

#partners{
    font-family: 'Muli', sans-serif;
    margin-bottom: 50px;
    text-align:center;
}

.partners-wrapper{
  width: 80%;
  margin: auto;
}

#partners h1{
    font-weight: 800 bolder;
    color: #3a3838;
    font-size: 35px;
    margin-top: 5px;
}

.partners-logo{
    width: 10em;
    text-align:center;
    margin-top:20px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px){

    #partners h1{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}