@font-face {
    font-family: FIIN;
    src: url("../fonts/Cera-Regular.otf") format("opentype");
}

@font-face {
    font-family: FIIN;
    font-weight: bold;
    src: url("../fonts/Cera-Bold.otf") format("opentype");
}

html, body{
    margin: 0;
    padding: 0;
    background: #ebebeb;
    line-height: 1.35em;
}

body {
    overflow-x: hidden;
    font-family: 'FIIN', sans-serif;
}


/*HEADER START*/



header{
    font-family: 'FIIN', sans-serif;
    text-transform:capitalize;
    background: #ebebeb;
    width:100%;
    height: 3.125em;
    font-size: 1em;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:10000000000;
}

.header-wrapper{
    width: 80%;
    height: 3.125em;
    margin: auto;
    overflow: hidden;
    /*position: fixed;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*BRANDING --- General*/
/*---START---*/

header .logo{
    float: left;
    height: 2.5em;
    padding: 0.9375em 0.625em;
    font-weight:bold;
    font-size: 1em;
    line-height: 1.25em;

}

.navbar-header{
    position: relative;
    z-index: 1000000000;
    position: relative;
    top: 1em;
}

header .logo a img{
    height:1.55em;
    position: relative;
    bottom: 1.25em;
}

.large-nav{
    float: right;
    position: relative;
    bottom: 0.25em;
    display: inline-block;
}

.large-nav ul{
    float: right;}


.navbar-collapse{
    position: relative;
    top: 1em;
}

header a{
    color: #969696;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

header li{
    float: left;
    display: inline;
    padding: 0 1.25em 0 1.25em;
}

header nav{
    float: right;
    margin-top: 1.25em;
}

header .highlight, header .current a{
    color: #004d4d;
    font-weight: bold;
}

header a:hover{
    color: #141616;
    font-weight: bold;
    transition: all 1s;
}


header a:active{
    color: #141616;
    font-weight: bold;
    transition: all 1s;
}

header a:active::before, .active::before{
    color:#004d4d;
    font-weight:bolder;
    content:"[ ";
    transition: all 0.5s;
}

header a:active::after, .active::after{
    color:#004d4d;
    font-weight:bolder;
    content:" ]";
    transition: all 0.5s;
}



a.navbar-brand:active::before{
    font-weight:bolder;
    content:none;
    transition: all 0.5s;
}

a.navbar-brand:active::after{
    font-weight:bolder;
    content:none;
    transition: all 0.5s;
}



@media (max-width: 48em){

    header{
        padding-bottom: 1.25em;
    }

    header .logo a img{
        height:1.55em;
        position: relative;
        bottom: 0.75em;
    }

    /*BRANDING --- Small Devices*/
    /*---START---*/

    header .logo{
        float: left;
        height: 2.1875em;
        padding: 0.3125em 0.3125em;
        font-weight:bold;
        font-size: 0.75em;
        line-height: 0.875em;
    }

    a img{height:1em;

    }

    /*---END---*/
    /*BRANDING --- Small Devices*/

    /*NAV --- General*/
    /*---START---*/

    header nav, header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    /*---END---*/
    /*NAV --- General*/
}

/*HEADER END*/



/*ABOVE THE FOLD START*/



#above-the-fold{
    font-family: 'FIIN', sans-serif;
    min-height: calc(100vh - 3em);
    margin-bottom: 2em;
    background: url(../images/bg.png) no-repeat;
    background-position-x: center;
    background-size: auto 100%;
    background-position-y: bottom;
    text-align: left;
    position: relative;
    top: 4em;
    overflow: auto;
    background-color: #ebebeb;
}

#above-the-fold h1{
    font-weight: 800;
    color: #004d4d;
    width: 75%;
    font-size: 2.5em;
    margin-top: 6.25em;
    margin-bottom: 0.625em;
}

#above-the-fold h2{
    font-weight: 800;
    color: #141616;
    width: 75%;
    position: relative;
    top: 2em;
    font-size: 2.188em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

#above-the-fold p{
    font-weight: 300;
    color: #141616;
    margin:0;
    width: 75%;
    font-size: 1.25em;
    position: relative;
    top: 3em;
}

#above-the-fold a img{
    height:1.75em;
    position:absolute;
    bottom:0;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    html{
        overflow-x: hidden;
    }




    #above-the-fold{
        background-image: url(../images/bg-mobile.png);
        background-size: 100% auto;
        background-position-y: bottom;
    }

    #above-the-fold h2{
        top: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 50%;
        font-size: 1.5em;
    }

    #above-the-fold p {
        top: -1em;
        padding-top: 1em;
        width: 50%;
        font-size: 1em;
    }
    #above-the-fold h1{
        margin-top: 1.25em;
        margin-bottom: 0.313em;
    }

    #above-the-fold h2{
        margin-top: 0.313em;
        margin-bottom: 0.313em;
    }
}

/*ABOVE THE FOLD END*/



/*ABOUT START*/




#about-us{
    font-family: 'FIIN', sans-serif;
    text-align: center;
    background-color: #f4f6f6;
}

.about-us-wrapper{
    width: 80%;
    height:100vh;
    margin: auto;
}

#about-us h1{
    font-weight: 800;
    text-transform:capitalize;
    color: #004d4d;
    font-size: 2.188em;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}

#about-us h2{
    font-weight: 700 bolder;
    color: #141616;
    font-size: 1.563em;
    margin-top: 0.313em;
    margin-bottom: 0.313em;
}

#about-us div{
    text-align: center;
}

#about-us p{
    font-weight: 300;
    color: #141616;
    font-size: 1em;
    padding-left:3.125em;
    padding-right:3.125em;
    text-align:center;
}

.about-us-icons{
    width: 11em;
    text-align:center;
    margin-top:1.25em;
}



#about-us p.small{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-align: left;
}

#about-us p.small strong{
    font-size: 1.25em;
    color: #004d4d;
    font-weight: 600;
    font-style: italic;
}

#pillars{
    position: relative;
    left: 2em;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #about-us h1{
        font-weight: 800;
        text-transform:capitalize;
        color: #004d4d;
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    #about-us h2{
        font-weight: 700;
        color: #004d4d;
        font-size: 1.125em;
        margin-top: 0.313em;
        margin-bottom: 0.313em;
    }

    #about-us p{
        font-weight: 300;
        color: #141616;
        font-size: 0.875em;
        padding-left:0.313em;
        padding-right:0.313em;
        text-align:center;
    }

    .about-us-icons{
        min-height:3.125em;
        min-width:3.125em;
        text-align:center;
        margin-top:0.625em;
    }
}

/*ABOUT END*/



/*BRANDS START*/



#core-product{
    width:100%;
    font-family: 'FIIN', sans-serif;
    margin-bottom: 3.125em;
    text-align:center;
    background: rgb(244,246,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(244,246,246,1) 0%, rgba(235,235,235,1) 25%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(244,246,246,1) 0%,rgba(235,235,235,1) 25%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(244,246,246,1) 0%,rgba(235,235,235,1) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6f6', endColorstr='#ebebeb',GradientType=0 );
    z-index: 5;

}

.core-product-wrapper{
    width: 80%;
    margin: auto;
}

#core-product h1{
    font-weight: 800;
    color: #004d4d;
    font-size: 2.188em;
    margin-top: 3.125em;
    z-index: 6;
}

#core-product p{
    font-weight: 300;
    color: #141616;
    font-size: 1.25em;
    padding-left:3.125em;
    text-align:justify;
    margin-top:1.25em;
    z-index: 6;

}

.core-product-brand{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#core-product a img{
    margin-top:1.25em;
    width: 19em;
}



.navbar-default, .container {
    background: #ebebeb;
    margin-bottom: -1.25em;
    position: relative;
    bottom: 0.75em;
    border: none;
    margin-top: 0;
}



.navbar-default img{
    height: 1em;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #core-product h1{
        font-weight: 800;
        color: #004d4d;
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    #core-product p{
        font-weight: 300;
        color: #141616;
        font-size: 0.875em;
        padding-left:0.313em;
        padding-right:0.313em;
        text-align:justify;
    }

    .core-product-brand{
        text-align:center;
        margin-top:0.625em;
    }
}


/*BRANDS END*/





/*TEAM START*/



#team-members{
    font-family: 'FIIN', sans-serif;
    margin-bottom: 5.125em;
    text-align: center;
    cursor: pointer;
    background: -moz-linear-gradient(top, rgba(235,235,235,0) 0%, rgba(244,246,246,1) 24%, rgba(244,246,246,0.99) 25%, rgba(235,235,235,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(235,235,235,0) 0%,rgba(244,246,246,1) 24%,rgba(244,246,246,0.99) 25%,rgba(235,235,235,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(235,235,235,0) 0%,rgba(244,246,246,1) 24%,rgba(244,246,246,0.99) 25%,rgba(235,235,235,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ebebeb', endColorstr='#00ebebeb',GradientType=0 ); /* IE6-9 */
    position: relative;
    top: 5em;
}

.team-members-wrapper{
    width: 80%;
    margin: auto;
}

#team-members h1{
    font-weight: 800 bolder;
    text-transform:capitalize;
    color: #004d4d;
    font-size: 2.188em;
    margin-top: 0.313em;
}

#team-members h2{
    font-weight: 600 bold;
    color: #004d4d;
    font-size: 1em;
    margin-top: 0.313em;
}

#team-members h3{
    font-weight: 300;
    color: #141616;
    font-size: 0.875em;
    margin-top: 0.313em;
}


.info{
    font-weight: 300;
    color: #141616;
    font-size: 0.75em;
    text-align:justify;
    margin: 0.125em;
}

.careers{
    position: relative;
    top: 2.75em;
    font-weight: 600;
    color: #141616;
    font-size: 1em;
    text-align:center;
    margin: 1.25em;
}

.careers a{
    color:#004d4d;
    font-weight: bold;
    text-decoration:none;
}

.careers a:hover{
    text-decoration:underline;
    transition: all 1s;
}

.team-members-photo{
    width: 12em;
    height: auto;
    padding-top: 3em;
    z-index: 10000;
    text-align:center;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #team-members h1{
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    #team-members h2{
        font-size: 0.875em;
        margin-top: 0.188em;
    }

    #team-members h3{
        font-size: 0.75em;
        margin-top: 0.188em;
    }

    #team-members p{
        font-size: 0.688em;
    }
}

/*TEAM END*/


/*PARTNERS START*/




#partners{
    font-family: 'FIIN', sans-serif;
    margin-bottom: 3.125em;
    text-align:center;
}

.partners-wrapper{
    width: 80%;
    margin: auto;
}

#partners h1{
    font-weight: 800 bolder;
    text-transform:capitalize;
    color: #004d4d;
    font-size: 2.188em;
    margin-top: 0.313em;
    position: relative;
    top: 3em;
}

.partners-logo{
    width: 14em;
    text-align:center;
    margin-top:1.25em;
    position: relative;
    top: 5em;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #partners h1{
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }
}


/*PARTNERS END*/



/*FOOTER START*/



footer{
    font-family: 'FIIN', sans-serif;
    font-weight: 300;
    color:#f4f6f6;
    text-align:center;
    font-size:0.875em;
    background-color: #004d4d;
    width: 100%;
    padding-top: 1.25em;
    padding-bottom:0.625em;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    position: relative;
    z-index: 10000;
}

footer a{
    text-decoration:none;
    color:white;
}

footer a img{
    height:2em;
}

footer div{
    display:inline-block;
}

footer div:hover{
    text-align:center;
    font-weight: bold;
    transition: all 0.5s;
}

footer div:hover img{
    content: url('../images/emailhover.png');
    height:2em;
    transition: all 0.5s;
}

footer p{
    font-weight: 300;
    margin-top: 0em;
    text-transform: capitalize;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){


}

/*FOOTER END*/




#graph svg{
    position: absolute;
    top: 2em;
    z-index: 2000;
    fill: #3e4040;
}

svg#graph{
    position: absolute;
    left: -3.5em;
    z-index: 1;
    top: 5em;

}







.wrapper-body{
    overflow-x: hidden;
}







ul{
    margin: 0;
    padding: 0;
}

#svg1{
    position: relative;
    /*top: 12em;*/
    color: #000;
}

.mobile{
    display: none;
}

.desktop{
    display: block;
}

#svg2{
    position: relative;
    bottom: -2em;
}

svg{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100vw;
}

section{
    padding-top: 3em;
    padding-bottom: 2em;
}

h1{
    text-transform: uppercase;
    color: #004d4d;
}

.module {
    /*min-height: 200px;*/
    position: relative;
}
.module:nth-child(even) {
    margin-right: 0;
}

.module-down {
    /*min-height: 200px;*/
    position: relative;
}
.module-down:nth-child(even) {
    margin-right: 0;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 1s;
}

.come-in-down {
    transform: translateY(-75px);
    animation: come-in 1.2s ease forwards;
}

.come-in-down:nth-child(odd) {
    animation-duration: 1s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}










.link {
    position: relative;
    transition: all .7s ease;
    text-decoration: none;
    text-align: center;
}
.link img{
    filter: grayscale(100);
    border-radius: 0 0 1em 1em;
    transition: all .5s ease;

}

.link:hover img{
    filter: none;
    border-radius: 0 0 0 0;

}


.link:after {
    text-transform: none;
    content: attr(data-tooltip);
    font-size: 14px;
    position: absolute;
    color: #004d4d;
    background: #d8d8d8;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 8px 12px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 14em;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(-50%, -180%, 0);
    transition: all 0.75s ease;
    z-index: 100000;
}
.link:hover #person1, .link:hover #person2, .link:hover #person3, .link:hover #person4{
    opacity: 0;
}
.link:hover:after {
    opacity: 1;
    z-index: 0;

}

.link:hover:after {
    transform: translate3d(-50%, -60%, 0);
}

.link h2{
    color: #004d4d;
}



.front{
    z-index: 1000;
}



.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
    position: relative;
    z-index: 100000;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}



@media (max-width: 768px) {

    #svg1 {
        top: 23em;
    }

    .core-product-brand {
        top: 2em;
    }

    .core-product-brand a img{
        width: 19em;
        height: auto;
    }

    #team-members .careers {
        font-size: 1em;
    }

    .partners-logo {
        width: 8em;
    }
    #person1, #person2, #person3, #person4 {
        padding: 0;
        margin: 0;
        font-size: 1.25em;
    }

    #person1 h2, #person2 h2, #person3 h2, #person4 h2{
        margin: 0;
    }

    /*.navbar-default .navbar-toggle {*/
         /*border: none;*/
        /*background: transparent;*/
        /*position: relative;*/
        /*bottom: 1em;*/
        /*float: right!important;*/
    /*}*/

    /*.navbar-default{*/
        /*background: none;*/
    /*}*/
    /*.navbar-toggle {*/
        /*float: left !important;*/
        /*margin-left: 15px;*/
        /*margin-right: 0;*/
    /*}*/

    /*.modal-nav-content {*/
        /*width: 100%;*/
        /*height: auto;*/
    /*}*/

    /*.modal-nav-body {*/
        /*margin-top: 100px;*/
    /*}*/

    /*.modal-nav-body ul {*/
        /*list-style-type: none;*/
        /*color: white;*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*width: 100%;*/
    /*}*/

    /*.modal-nav-body ul li {*/
        /*text-align: center;*/
        /*font-size: 130%;*/
        /*padding: 8px;*/
        /*text-transform: uppercase;*/
        /*display: block;*/
        /*width: 100%;*/
    /*}*/

    .large-nav{
    display: none;
    }

    .navbar-default, .container{
        background: #ebebeb;
        border: none;
        margin-bottom: -1em;
        position: relative;
        bottom: 1.25em;
    }

    header{
        position: fixed;
        z-index: 100000;

    }

    nav .container{
        position: relative;
        top: -0.35em;
        background: transparent;
    }

    div#navbar .collapse .in{
        padding: 1em;
    }

    .core-product-brand{
        margin:0;
        position:inherit;
        top:auto;
        left:auto;
        transform: none;    }

    .moneymate{
        display: block!important;
    }
    
    .mobile{
        display: block;
    }
    
    .desktop{
        display: none;
    }

    svg#graph {
        position: absolute;
        left: 0;
        z-index: 1;
        top: 14em;
    }

}



@media (max-width: 48em){
    
}