@import url(https://fonts.googleapis.com/css?family=Muli);

html, body{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}

#svg1{
    position: relative;
    top: 7em;
}

#svg2{
    position: relative;
    bottom: 3em;
}

svg{
    position: absolute;
    left: 0;
    z-index: -10;
    width: 100vw;
}

section{
    padding-top: 3em;
    padding-bottom: 2em;
}

h1{
    text-transform: uppercase;
}

.module {
    /*min-height: 200px;*/
    position: relative;
}
.module:nth-child(even) {
    margin-right: 0;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 1s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}










.link {
    position: relative;
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
}

.link:after {
    text-transform: none;
    content: attr(data-tooltip);
    font-size: 14px;
    position: absolute;
    color: #fff;
    background: #62dd7c;
    padding: 8px 12px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 200px;
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    transform: translate3d(-50%, -180%, 0);
    transition: all .3s ease;
}
.link:hover {
}
.link:hover:after {
    opacity: 1;
}

.link:hover:after {
    transform: translate3d(-50%, -80%, 0);
}














@media (max-width: 768px){
    
}