@import url(https://fonts.googleapis.com/css?family=Muli);

#team-members{
    font-family: 'Muli', sans-serif;
    margin-bottom: 3.125em;
    text-align: center;
}

.team-members-wrapper{
  width: 80%;
  margin: auto;
}

#team-members h1{
    font-weight: 800 bolder;
    text-transform:capitalize;
    color: #3a3a3a;
    font-size: 2.188em;
    margin-top: 0.313em;
}

#team-members h2{
    font-weight: 600 bold;
    color: #3a3a3a;
    font-size: 1em;
    margin-top: 0.313em;
}

#team-members h3{
    font-weight: 300;
    color: #3a3a3a;
    font-size: 0.875em;
    margin-top: 0.313em;
}

.info{
    font-weight: 300;
    color: #3a3a3a;
    font-size: 0.75em;
    text-align:justify;
    margin: 0.125em;
}

.careers{
    font-weight: 600;
    color: #3a3a3a;
    font-size: 1em;
    text-align:center;
    margin: 1.25em;
}

.careers a{
    color:#62dd7c;
    font-weight: bold;
    text-decoration:none;
}

.careers a:hover{
    text-decoration:underline;
    transition: all 1s;
}

.team-members-photo{
    height:6.25em;
    text-align:center;
    margin-top:1.25em;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em){

    #team-members h1{
        font-size: 1.563em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    #team-members h2{
        font-size: 0.875em;
        margin-top: 0.188em;
    }

    #team-members h3{
        font-size: 0.75em;
        margin-top: 0.188em;
    }

    #team-members p{
        font-size: 0.688em;
    }
}