@import url(https://fonts.googleapis.com/css?family=Muli);

#team-members{
    font-family: 'Muli', sans-serif;
    margin-top:75px;
    margin-bottom: 50px;
    text-align: center;
}

.team-members-wrapper{
  width: 80%;
  margin: auto;
}

#team-members h1{
    font-weight: 800 bolder;
    color: #3a3838;
    font-size: 35px;
    margin-top: 5px;
}

#team-members h2{
    font-weight: 600 bold;
    color: #3a3838;
    font-size: 16px;
    margin-top: 5px;
}

#team-members h3{
    font-weight: 300;
    color: #3a3838;
    font-size: 14px;
    margin-top: 5px;
}

.info{
    font-weight: 300;
    color: #3a3838;
    font-size: 12px;
    text-align:justify;
    margin: 2px;
}

.careers{
    font-weight: 600;
    color: #3a3838;
    font-size: 16px;
    text-align:center;
    margin: 20px;
}

.careers a{
    color:#42a159;
    font-weight: bold;
    text-decoration:none;
}

.team-members-photo{
    min-height:100px;
    background-color:aliceblue;
    text-align:center;
    margin-top:20px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px){

    #team-members h1{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #team-members h2{
        font-size: 14px;
        margin-top: 3px;
    }

    #team-members h3{
        font-size: 12px;
        margin-top: 3px;
    }

    #team-members p{
        font-size: 11px;
    }
}